In [1]:
#this will be my first code
import pandas as pd

## Below we use SQL to join the train table together with the oil prices table and sale it as a DataFrame

#@bigquery
SELECT * 
FROM `store-sales2-03111976.store_sales.train` AS train
LEFT JOIN `store-sales2-03111976.store_sales.oil` AS oil
ON oil.date = train.date
LIMIT 1000

In [3]:
# The following two lines are only necessary to run once.
# Comment out otherwise for speed-up.
from google.cloud.bigquery import Client, QueryJobConfig
client = Client()

query = """SELECT * 
FROM `store-sales2-03111976.store_sales.train` AS train
LEFT JOIN `store-sales2-03111976.store_sales.oil` AS oil
ON oil.date = train.date
LIMIT 1000"""
job = client.query(query)
df = job.to_dataframe()

In [4]:
df

,id,date,store_nbr,family,sales,onpromotion,date_1,dcoilwtico
0,9,2013-01-01,1,DELI,0.000,0,2013-01-01,NaN
1,1791,2013-01-02,1,DELI,164.069,0,2013-01-02,93.14
2,3573,2013-01-03,1,DELI,151.582,0,2013-01-03,92.97
3,5355,2013-01-04,1,DELI,131.411,0,2013-01-04,93.12
4,7137,2013-01-05,1,DELI,118.613,0,None,NaN
...,...,...,...,...,...,...,...,...
995,1773099,2015-09-25,1,DELI,226.753,48,2015-09-25,45.55
996,1774881,2015-09-26,1,DELI,176.280,1,None,NaN
997,1776663,2015-09-27,1,DELI,95.747,0,None,NaN
998,1778445,2015-09-28,1,DELI,193.525,0,2015-09-28,44.40
999,1780227,2015-09-29,1,DELI,206.297,0,2015-09-29,45.24